.title {
    display: flex;
    justify-content: center;
    align-items: center;

}

.title span {
    margin-right: 10px ;

}

.LicenseForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.LicenseForm label {
    font-size: 14px;
    margin: 10px 0;
    font-weight: bold;
    color: #031149;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.LicenseForm input {
    width: 100%;
    padding: 10px 20px;
    border: solid 1px #ccc;
    border-radius: 5px;
    font-weight: normal;
    outline: none;
    background: #fff !important;
    color: #222;
}

.LicenseForm input:focus {
    border: 1px solid #14532d;
    box-shadow: none;
    background: #fff !important;
    color: #222;
}

.LicenseForm textarea {
    width: 100%;
    padding: 10px 20px;
    border: solid 1px #ccc;
    border-radius: 5px;
    font-weight: normal;
    outline: none;
    overflow: hidden;
    background: #fff !important;
    color: #222;
}

.LicenseForm textarea:focus {
    border: 1px solid #14532d;
    box-shadow: none;
    background: #fff !important;
    color: #222;
}

.LicenseForm button {
    background-color: #14532d;
    font-size: 15px;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    height: 40px;
    width: 160px;
    margin: 15px;
    transition: background-color 0.2s;
}

.LicenseForm button:hover {
    background-color: #0f3d21;
}

.LicenseForm button:disabled {
    background-color: transparent;
    border: solid 1px #14532d;
    font-size: 15px;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #14532d;
    height: 40px;
    width: 160px;
    margin: 15px;
}

.LicenseForm span {
    height:100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formInterno {
    width: 100%;
    display: flex;
    justify-content: center;

}

.formInterno label {
    width: 44%;
}

.formInterno label:nth-child(1) {
    margin-right: 2%;

}
