.logger {
    width: 100%;
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #eeeeeeda;
}

.logger table {
    text-align: center;
    width: 100%;
    font-size: 13px;
    border-radius: 5px;
    overflow: hidden;
}

.logger a {
    font-weight: bold;
    color: #344cad;
}
.logger h2{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 1.5em;
    color: #031149;

}

@media (max-width: 750px) {
    .logger table tr {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

}