.formCurso {
    padding: 1em 2em 1em 2em;
    position: relative;
    top: 61px;
    width: 100%;
    height:auto;
    min-height: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.06);
}

.formCurso div:nth-child(1) {
    max-width: 800px;

}